<div class="container">

<h1>Send me an email</h1>
<center><%= image_tag("Kontakt.jpg", class: "img-responsive") %>
<h3><strong>Thank you for being in touch!</strong></h3></center>
<center><h3>My address is:<br> <br>Scottish Borders / Scotland<br><h3>

</div>
