
footer {
  position:fixed;
  bottom:0px;
  background-color:orange;
}

.navbar-collapse > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #020304;
  display: block;
  padding: 10px;
  margin-left:-5px;
}

h1{
  color: grey;
  font-size: 3em;
}

h1,
h2{
  text-align:center;
}

h3{
  color:rgba(57, 156, 204, 0.8);
}

h1,
h2,
h3 {
  margin-bottom: 5%;
  margin-top: 5%;
}

p {
  font-size: 1em;
}

ul {
  list-style-type: none;
}

#image {
  height: 320px;
}