.navbar-nav {
  float: none!important;
  margin-left: 0px;
  padding: 5px;
}

.navbar-nav >li {
  float: none;
  padding-top: 5px;
}

.navbar-nav>li>a {
  text-decoration: none;
  color: grey;
  font-size: 1.3em;
  text-transform: uppercase;
}

.navbar-nav,
#searchform {
  margin-top: 5px;
}

@media (max-width: 767px) {
  #searchform2 {
    margin-top: 5px;
  }
}

navbar-toggleable-md .collapse .show {
  display: block! important;
}

#sitefooter {
  position:fixed;
  bottom:0px;
  background-color:orange;
}

h1{
  color: grey;
  font-size: 3em;
}

h1,
h2{
  text-align:center;
}

h3{
  color:rgba(57, 156, 204, 0.8);
}

h1,
h2,
h3 {
  margin-bottom: 5%;
  margin-top: 5%;
}

p {
  font-size: 1em;
}

ul {
  list-style-type: none;
}

.card {
  padding-top: 5px;
  padding-bottom: 5px;
}
     

